{% extends 'base.html' %}

{% block title %}{{ post.location }} | Blogicum{% endblock %}

{% block content %}
  <article>
    <ul>
      <li>Место: {{ post.location }}</li>
      <li>Дата: {{ post.date }}</li>
      <li>Категория: 
        <a href="{% url 'blog:category_posts' category_slug=post.category %}">
          {{ post.category }}
        </a>
      </li>
    </ul>
    <div class="post-content">
      {{ post.text|linebreaks }}
    </div>
    <a href="{% url 'blog:index' %}" class="btn btn-secondary mt-3">
      Вернуться к ленте
    </a>
  </article>
{% endblock %}